[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/ruby-1.9.2"]
	path = cookbooks/ruby-1.9.2
	url = git://github.com/karlfreeman/chef-ruby.git
