[submodule "3rd-parties/apt"]
	path = 3rd-parties/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "3rd-parties/build-essential"]
	path = 3rd-parties/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "3rd-parties/ruby-1.9.2"]
	path = 3rd-parties/ruby-1.9.2
	url = git://github.com/karlfreeman/chef-ruby.git
